// В этом компоненте глобальные стили
@import "../../../styles-vars/theme_variables";
@import "../../../styles-vars/z-indexes";
@import "../../../styles-vars/pineapple";

.boundary {
  z-index: $z-index-1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: $pineapple;
  background-color: $softPink;
  background-size: 180px 210px;
  animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}

// Анимация фона
@keyframes animatedBackground {
  from { background-position: 0 50%; }
  to { background-position: 0 0; }
}

.todo {
  position: absolute;
  top: 20px;
  left: 20px;

  min-width: 300px;
  max-width: 900px;
  min-height: 400px;
  max-height: 700px;

  border: 1px solid $DarkYellow;
  border-radius: 5px;
  box-shadow: 0 0 10px $DarkYellow;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  resize: both;
  overflow: hidden;
  background-color: #fff;
 
  &__handle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
    cursor: move;
    color: $softPink;
  }

  &__title {
    padding-top: 6px;
    font-size: 16px;
    font-weight: 600;
    color: $DarkYellow;
  }

  &__content {
    padding: 10px 10px 10px 10px;
    overflow-x: auto;
  }
}

// Скроллбар
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $DarkYellow; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $softPink;
  border-radius: 10px;
  box-shadow: inset 0 0 6px $DarkYellow; 
}